<div class="bg-light py-5 text-center" id="como-funciona">
    <h2 class="font-weight-bold" id="como-funciona" translate>index.works.title</h2>
    <h4 class="my-4" translate>index.works.description</h4>
    <div class="d-flex justify-content-center mt-5">
        <div id="howItWorksCarrousel" class="carousel slide w-62" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#howItWorksCarrousel" data-slide-to="0" class="active"></li>
                <li data-target="#howItWorksCarrousel" data-slide-to="1" class="active"></li>
                <li data-target="#howItWorksCarrousel" data-slide-to="2" class="active"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <iframe class="youtube-video" src="https://www.youtube.com/embed/bwzYzp6RVAk?controls=0"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="carousel-item">
                    <iframe class="youtube-video" src="https://www.youtube.com/embed/bwzYzp6RVAk?controls=0"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
                <div class="carousel-item">
                    <iframe class="youtube-video" src="https://www.youtube.com/embed/bwzYzp6RVAk?controls=0"
                        frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
            <a class="carousel-control-prev" href="#howItWorksCarrousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#howItWorksCarrousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>