<div class="index-timeline">
    <div class="d-flex justify-content-center my-3">
        <h2 id="linha-do-tempo" translate>index.timeline.text</h2>
    </div>
    <div class="row mb-3 w-100">
        <div class="col-5"></div>
        <div class="col-2">
            <img src="assets/images/landing-page/outros/circle.svg" class="timeline-event">
        </div>
        <div class="col-5">
            <div>
                <h4>11/11/1111</h4>
                <p translate>index.timeline.text</p>
            </div>
        </div>
    </div>
    <div class="row mb-3 w-100">
        <div class="col-5">
            <div class="text-right">
                <h4>11/11/1111</h4>
                <p translate>index.timeline.text</p>
                <img class="img-linha-do-tempo" src="assets/images/landing-page/outros/linha-do-tempo-1.jpg">
                <p translate>index.timeline.text</p>
            </div>
        </div>
        <div class="col-2">
            <img src="assets/images/landing-page/outros/circle.svg" class="timeline-event">
        </div>
        <p translate>index.timeline.text</p>
        <div class="col-5"></div>
    </div>

    <div class="row mb-3 w-100">
        <div class="col-5"></div>
        <div class="col-2">
            <img src="assets/images/landing-page/outros/circle.svg" class="timeline-event">
        </div>
        <div class="col-5">
            <div class="">
                <h4>11/11/1111</h4>
                <p translate>index.timeline.text</p>
                <img class="img-linha-do-tempo" src="assets/images/landing-page/outros/linha-do-tempo-2.jpg">
                <p translate>index.timeline.text</p>
            </div>
        </div>
    </div>
    <div class="row mb-3 w-100">
        <div class="col-5">
            <div class="text-right">
                <h4>11/11/1111</h4>
                <p translate>index.timeline.text</p>
            </div>
        </div>
        <div class="col-2">
            <img src="assets/images/landing-page/outros/circle.svg" class="timeline-event">
        </div>
        <div class="col-5"></div>
    </div>
    <div class="index-timeline-bg">
        <img src="assets/images/landing-page/outros/linha-do-tempo.svg">
    </div>
</div>