<!--Passos-->
<div class="container-fluid p-3">
  <div class="row">
    <div class="container col-3 z-2">
      <div class="row justify-content-center text-center">
        <a [routerLinkActive]="['rounded-tab-active']" [routerLink]="['first/']" [ngStyle]="{'pointer-events': currentStep >= 1 ? 'auto' : 'none', 'cursor': currentStep >= 1 ? 'auto' : 'default'}" [class.rounded-tab-done]="currentStep >= 1" class="col flex-grow-0 rounded-tab text-white">1</a>
        <fa-icon class="text-warning" [icon]="exclamation" [ngbCollapse]="true"></fa-icon>
      </div>
      <div class="row align-items-center justify-content-center mt-3"><small class="col flex-grow-0 fw-bold">Informações</small></div>
    </div>
    <div class="container col-3 z-2">
      <div class="row justify-content-center text-center">
        <a [routerLinkActive]="['rounded-tab-active']" [routerLink]="['second/']" [ngStyle]="{'pointer-events': currentStep >= 2 ? 'auto' : 'none', 'cursor': currentStep >= 2 ? 'auto' : 'default'}" [class.rounded-tab-done]="currentStep >= 2" class="col flex-grow-0 rounded-tab text-white">2</a>
        <fa-icon class="text-warning" [icon]="exclamation" [ngbCollapse]="currentStep < 2 || hasProgramObservers"></fa-icon>
      </div>
      <div class="row align-items-center justify-content-center mt-3"><small class="col flex-grow-0 fw-bold">Observadores</small></div>
    </div>
    <div class="container col-3 z-2">
      <div class="row justify-content-center text-center">
        <a [routerLinkActive]="['rounded-tab-active']" [routerLink]="['third/']" [ngStyle]="{'pointer-events': currentStep >= 3 ? 'auto' : 'none', 'cursor': currentStep >= 3 ? 'auto' : 'default'}" [class.rounded-tab-done]="currentStep >= 3" class="col flex-grow-0 rounded-tab text-white">3</a>
        <fa-icon class="text-warning" [icon]="exclamation" [ngbCollapse]="currentStep < 3 || hasProgramObservers"></fa-icon>

      </div>
      <div class="row align-items-center justify-content-center mt-3"><small class="col flex-grow-0 fw-bold">Participantes</small></div>
    </div>
    <div class="container col-3 z-2">
      <div class="row justify-content-center text-center">
        <a [routerLinkActive]="['rounded-tab-active']" [routerLink]="['fourth/']" [ngStyle]="{'pointer-events': currentStep >= 4 ? 'auto' : 'none', 'cursor': currentStep >= 4 ? 'auto' : 'default'}" [class.rounded-tab-done]="currentStep >= 4" class="col flex-grow-0 rounded-tab text-white">4</a>
        <fa-icon class="text-warning" [icon]="exclamation" [ngbCollapse]="currentStep < 2 || hasEvents"></fa-icon>
      </div>
      <div class="row justify-content-center mt-3"><small class="col flex-grow-0 fw-bold">Eventos</small></div>
    </div>
  </div>
</div>
<!---------->
