 <div class="container-fluid">
    <div class="col-12 mt-3 mb-2 d-flex justify-content-center">
        <button type="button" class="btn btn-primary" (click)="addPhases()">Criar nova Phase</button>
    </div>
    <div *ngFor="let circleCustom of program.phasesPublicade; index as j" class="row border border-success mt-2 mb-2 ms-2 me-2" >
      <div class="col-12 d-flex bg-primary text-white justify-content-between align-items-center">
        <button class="btn text-white fw-bold text-uppercase" data-bs-toggle="collapse" (click)="changeButtonCollapse(j)">
              {{program.phasesPublicade[j].title}}
          </button>
          <fa-icon class="text-white" [icon]="faTras" (click)="removePhase(j)"></fa-icon>
      </div>
      <div class="row ms-2 me-2" [ngbCollapse]="phasesCollapse[j]">
        <form class="container-fluid w-90" [formGroup]='programInformationForm'>
            <!-- <h4>Informações do Programa</h4> -->
            <!--Nome do programa-->
            <div class="form-row form-group">
              <div class="col">
                <label for="program-name">Título da Coleta de Dados <b class="text-danger">*</b>:</label>
                <input class="d-block w-100 form-control" [class.is-invalid]="invalidTitle" id="program-name" type="text" placeholder="Título" formControlName="title" (change)="updateField('title')">
              </div>
            </div>
            <!-------------------->
            <!--Descrição do programa-->
            <div class="form-row form-group mt-2">
              <div class="col">
                <label for="program-description">Descrição da Coleta de Dados:</label>
                <textarea class="d-block w-100" name="program-description" id="program-description" rows="1" placeholder="Descrição" formControlName="description" (change)="updateField('description')"></textarea>
              </div>
            </div>
        
            <!--Data de início/Hora de início-->
            <div class="form-row form-group d-flex align-items-bottom mt-3">
            <!--Data de Início-->
                <div class="col-3">
                <label><h5>Data e hora de início<b class="text-danger">*</b>:</h5></label>
                <div class="input-group form-group">
                    <input class="form-control" formControlName="beginDate" ngbDatepicker #beginDate="ngbDatepicker" (click)="beginDate.toggle()" placeholder="Data de início" (dateSelect)="setBeginDate($event)" readonly>
                    <button class="btn btn-secondary" (click)="beginDate.toggle()" type="button"><fa-icon class="text-white" [icon]="calendar"></fa-icon></button>
                </div>
                </div>
            <!------------------>
            <!--Hora de início-->
                <div class="col">
                <ngb-timepicker formControlName="beginTime" [minuteStep]="30" (ngModelChange)="updateField('starts')"></ngb-timepicker>
                </div>
            <!------------------>
            </div>
            <!--------------------------------->
            <!--Data de fim/Hora de fim-->
            <div class="form-row form-group d-flex align-items-bottom  mt-3">
            <!--Data de fim-->
                <div class="col-3">
                <label><h5>Data e hora de fim</h5></label>
                <div class="input-group form-group">
                    <input class="form-control" formControlName="endDate" ngbDatepicker #endDate="ngbDatepicker"  (click)="endDate.toggle()" placeholder="Data de fim" (dateSelect)="setEndDate($event)"  readonly>
                    <button (click)="endDate.toggle()" class="btn btn-secondary" type="button"><fa-icon class="text-white" [icon]="calendar"></fa-icon></button>
                </div>
                </div>
            <!--------------->
            <!--Hora de fim-->
                <div class="col">
                <ngb-timepicker formControlName="endTime" (ngModelChange)="updateField('ends')" [minuteStep]="30"></ngb-timepicker>
                </div>
            <!--------------->
            </div>
            <!--------------------------->
            <div class="col-12 mt-3">
                <label>Versão do Programa</label>
                <select class="form-control" formControlName='programPublicade' (ngModelChange)="updateField('programPublicade')">
                  <option value="1-1">Programa 1 - Versão 1 - Criada em 04/04/2022</option>
                  <option value="1-2">Programa 1 - Versão 2 - Criada em 05/04/2022</option>
                  <option value="2-1">Programa 2 - Versão 1 - Criada em 04/04/2022</option>
                  <option value="2-2">Programa 2 - Versão 2 - Criada em 05/04/2022</option>
                </select>
            </div>
            
            <small class="text-danger">* Campo obrigatório</small>
        </form>
     </div>
</div>
