<main class="card mx-auto mt-4 w-main">
  <!-- Forms -->
  <form class="d-flex flex-wrap p-3 pt-4 p-md-5" [formGroup]="observerForm">
    <!-- Placeholder, Nome e Sobre você -->
    <div class="container-fluid mb-2 mb-md-5">
      <div class="row">
        <!-- Placeholder -->
        <div class="col-12 col-md-6 d-flex align-items-center text-center mb-4 mb-md-0">
          <span class="h2 font-weight-bold">Bem vindo ao ESPIM, você ainda não tem registro? por favor, cadastre-se!</span>
        </div>
        <!------------->
        <!-- Nome e Sobre você -->
        <div class="col-12 col-md-6 w-50">
          <!-- Nome -->
          <div class="mb-3">
            <label class="font-weight-bold h3 w-100" for="name">Nome</label>
            <input class="form-control" name="name" id="name" type="text"
              placeholder="Qual o seu nome?" formControlName="name">
          </div>
          <!---------->
          <!-- Sobre você -->
          <div>
            <label class="font-weight-bold h3 w-100" for="about">Sobre você</label>
            <textarea class="w-100" id="about" name="about" formControlName="about"
              placeholder="Conte-nos um pouco sobre você!"></textarea>
          </div>
          <!---------------->
        </div>
        <!----------------------->
      </div>
    </div>
    <!-- Todos os outros campos -->
    <div class="container-fluid mb-4">
      <div class="row">
        <!-- Primeira coluna -->
        <div class="col-12 col-md-6 d-flex flex-column">
          <!-- E-mail -->
          <div class="w-100 mb-4">
            <label class="font-weight-bold w-100 mb-0" for="email">E-mail</label>
            <input class="form-control" name="email" id="email" formControlName="email" type="text"
              placeholder="Qual o seu e-mail?">
          </div>
          <!------------>
          <!-- Dia de nascimento -->
          <div class="w-100 mb-4">
            <label class="font-weight-bold w-100 mb-0" [for]="birthDate">Data de Nascimento</label>
            <div class="input-group align-items-center">
              <input class="form-control" name="birthDate" (click)="birthDate.toggle()" ngbDatepicker #birthDate="ngbDatepicker" type="text" placeholder="Data de nascimento" formControlName="birthDate" readonly>
              <i class="far fa-calendar-alt fa-2x px-3"></i>
            </div>
          </div>
          <!----------------------->
          <!-- Escolaridade -->
          <div class="w-100 mb-4">
            <label class="font-weight-bold w-100 mb-0" for="schooling">Nível de Escolaridade</label>
            <select class="form-control p-0" name="schooling" formControlName="schooling" id="schooling">
              <option value="noschool">Sem Escolaridade</option>
              <option value="elementaryincompleted">Fundamental Incompleto</option>
              <option value="elementarycompleted">Fundamental Completo</option>
              <option value="highschoolincompleted">Ensino MédioIncompleto</option>
              <option value="highschoolcompleted">Ensino MédioCompleto</option>
              <option value="collegeincompleted">Superior Incompleto</option>
              <option value="collegecompleted">Superior Completo</option>
              <option value="masterscompleted">Mestrado Completo</option>
              <option value="phdcompleted">Doutorado Completo</option>
            </select>
          </div>
          <!------------------>
          <!-- Profissão -->
          <div class="w-100 mb-4">
            <label class="font-weight-bold w-100 mb-0" for="role">Cargo</label>
            <input class="form-control" name="role" id="role" formControlName="role" type="text">
          </div>
          <!--------------->
          <!-- Empresa ou instituição -->
          <div class="w-100 mb-4">
            <label class="font-weight-bold w-100 mb-0" for="institution">Instituição</label>
            <input class="form-control" name="institution" id="institution" formControlName="institution" type="text">
          </div>
          <!---------------------------->
          <!-- Número de telefone -->
          <div class="w-100 mb-4">
            <label class="font-weight-bold w-100 mb-0" for="phoneNumber">Número de telefone</label>
            <input class="form-control" name="phoneNumber" id="phoneNumber" formControlName="phoneNumber" type="text">
          </div>
          <!------------------------>
          <!-- Botão google -->
          <div class="d-flex justify-content-center w-100 mb-4">
            <div class="btn btn-success d-flex justify-content-around flex-nowrap align-items-center input-group w-50" style="height: 50px;">
              <span class="input-group-prepend bg-white rounded-circle mr-1"><img src="assets/images/landing-page/outros/google-favicon-logo.png" width="40px" height="40px"></span>
              <span cl>Sign in with google</span>
            </div>
          </div>
          <!------------------>
        </div>
        <!--------------------->
        <!-- Segunda coluna -->
        <div class="col-12 col-md-6 d-flex flex-column" formGroupName="address">
          <!-- Endereço -->
          <div class="w-100 mb-4">
            <label class="font-weight-bold w-100 mb-0" for="address">Endereço</label>
            <input class="form-control" name="address" formControlName="address" id="address" type="text">
          </div>
          <!-------------->
          <!-- Número -->
          <div class="w-100 mb-4">
            <label class="font-weight-bold w-100 mb-0" for="addressNumber">Número</label>
            <input class="form-control" name="addressNumber" id="addressNumber" formControlName="addressNumber" type="text">
          </div>
          <!------------>
          <!-- Complemento -->
          <div class="w-100 mb-4">
            <label class="font-weight-bold w-100 mb-0" for="addressComplement">Complemento</label>
            <input class="form-control" name="addressComplement" id="addressComplement" formControlName="addressComplement" type="text">
          </div>
          <!----------------->
          <!-- Cep -->
          <div class="w-100 mb-4">
            <label class="font-weight-bold w-100 mb-0" for="cep">CEP</label>
            <input class="form-control" name="cep"  id="cep" formControlName="cep" type="text">
          </div>
          <!--------->
          <!-- Cidade -->
          <div class="w-100 mb-4">
            <label class="font-weight-bold w-100 mb-0" for="city">Estado</label>
            <input class="form-control" name="city" id="city" formControlName="city" type="text">
          </div>
          <!------------>
          <!-- Estado -->
          <div class="w-100 mb-4">
            <label class="font-weight-bold w-100 mb-0" for="state">Cidade</label>
            <input type="text" class="form-control p-0" id="state" name="state" formControlName="state">
          </div>
          <!-- País -->
          <div class="w-100 mb-4">
            <label class="font-weight-bold w-100 mb-0" for="country">País</label>
            <input type="text" class="form-control p-0" id="country" name="country" formControlName="country">
          </div>
          <!------------>
        </div>
        <!-------------------->
      </div>
    </div>
    <!-- Submit -->
    <div class="d-flex justify-content-center w-100">
      <button name="saveButton" class="btn btn-primary w-100 w-md-25" *ngIf="observerForm.valid" [swal]="swalSaveButton">REGISTRE-SE</button>
    </div>
    <!------------>
    <!-- Sweet alert messages-->
    <span>
      <swal #swalSaveButton title="Registrando observador!"
        text="O observador informado será registrado, mas as informações originais serão mantidas, caso o objeservador já tenha sido registrado anteriormente." type="info" [showCancelButton]="true"
        [focusCancel]="true" (confirm)="save($event)">
      </swal>
    </span>
    <!----------->
  </form>
  <!----------->
</main>
