<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex bg-success text-white fw-bold justify-content-center p-2">
            MENSAGENS
        </div>
    </div>
    <div *ngIf="haveProgram()" class="row border mh-100" style="height: 600px; overflow-y: scroll;">
        <div class="col-12 mt-1 mb-1" *ngFor="let meme of loc_messages"  >
            {{meme.user_message}} [ {{meme.day_message}} ]: {{meme.message}}
        </div>
    </div>
    <div *ngIf="haveProgram()" class="row mt-3">
        <div class="col-12"> 
            <textarea rows="3" [(ngModel)]="message" class="d-block w-100 border"></textarea> 
        </div>
        <div class="col-12 d-flex justify-content-center mt-3"> 
            <button class="btn btn-primary d-block" (click)="sendMessage()">Enviar</button>
        </div>
    </div>
</div>