<!--Forms-->
<form class="container-fluid px-xl-5" [formGroup]='programInformationForm'>
  <h4>Informações do Programa</h4>
  <!--Nome do programa-->
  <div class="form-row form-group">
    <div class="col">
      <label for="program-name">Nome do programa <b class="text-danger">*</b>:</label>
      <input class="d-block w-100 form-control" [class.is-invalid]="invalidTitle" id="program-name" type="text" placeholder="Nome do programa" formControlName="title">
    </div>
  </div>
  <!-------------------->
  <!--Descrição do programa-->
  <div class="form-row form-group">
    <div class="col">
      <label for="program-description">Descrição do programa:</label>
      <textarea class="d-block w-100" name="program-description" id="program-description" rows="2" placeholder="Descrição do programa" formControlName="description"></textarea>
    </div>
  </div>
  <!------------------------->
  <!--Programa público checkbox-->
  <div class="form-group">
    <input type="checkbox" name="program-checkbox" id="program-checkbox" formControlName="isPublic">
    <label for="program-checkbox">Programa público</label>
  </div>
  <!----------------------------->
  <!--Data de início/Hora de início-->
  <h5>Data e hora de início<b class="text-danger">*</b>:</h5>
  <div class="form-row form-group input-group">
    <!--Data de Início-->
    <div class="col form-inline">
      <div class="input-group">
        <div class="input-group-prepend">
          <button (click)="beginDate.toggle()" class="input-group-text"><i class="far fa-calendar-alt"></i></button>
        </div>
        <input (click)="beginDate.toggle()" ngbDatepicker #beginDate="ngbDatepicker" [navigation]="'arrows'" [class.is-invalid]="invalidBeginDate" type="text" class="px-2 py-1 form-control" placeholder="Data de início" formControlName="beginDate" readonly>
      </div>
    </div>
    <!------------------>
    <!--Hora de início-->
    <div class="col">
      <ngb-timepicker formControlName="beginTime" [minuteStep]="30"></ngb-timepicker>
    </div>
    <!------------------>
  </div>
  <!--------------------------------->
  <!--Data de fim/Hora de fim-->
  <h5>Data e hora de fim</h5>
  <div class="form-row form-group input-group">
    <!--Data de fim-->
    <div class="col form-inline">
      <div class="input-group">
        <div class="input-group-prepend">
          <button (click)="endDate.toggle()" class="input-group-text"><i class="far fa-calendar-alt"></i></button>
        </div>
        <input (click)="endDate.toggle()" ngbDatepicker #endDate="ngbDatepicker" [navigation]="'arrows'" type="text" class="form-control px-2 py-1" placeholder="Data de fim" formControlName="endDate" readonly>
      </div>
    </div>
    <!--------------->
    <!--Hora de fim-->
    <div class="col">
      <ngb-timepicker formControlName="endTime" [minuteStep]="30"></ngb-timepicker>
    </div>
    <!--------------->
  </div>
  <!--------------------------->
  <small class="text-danger">* Campo obrigatório</small>
  <hr>
  <div class="container-fluid p-0 mb-3">
    <div class="row">
      <div class="col-12 col-xl-4">
        <button type="button" class="btn btn btn-outline-primary btn-block py-2">IMPORTAR PROGRAMA</button>
      </div>
      <div class="col-12 col-xl-3 offset-xl-5">
        <button type="button" class="btn btn btn-primary btn-block py-2" (click)="submit()">PROSSEGUIR</button>
      </div>
    </div>
  </div>
</form>
<!--------->
