<!--Forms-->
<form class="container-fluid px-xl-5" [formGroup]='programInformationForm'>
  <h4>Informações do Programa</h4>
  <!--Nome do programa-->
  <div class="form-row form-group">
    <div class="col">
      <label for="program-name">Nome do programa <b class="text-danger">*</b>:</label>
      <input class="d-block w-100 form-control" [class.is-invalid]="invalidTitle" id="program-name" type="text" placeholder="Nome do programa" formControlName="title" (change)="updateField('title')">
    </div>
  </div>
  <!-------------------->
  <!--Descrição do programa-->
  <div class="form-row form-group mt-2">
    <div class="col">
      <label for="program-description">Descrição do programa:</label>
      <textarea class="d-block w-100" name="program-description" id="program-description" rows="1" placeholder="Descrição do programa" formControlName="description" (change)="updateField('description')"></textarea>
    </div>
  </div>
  <!------------------------->
  <!--Programa público checkbox-->
  <div class="form-group mt-3">
    <input type="checkbox" name="program-checkbox" id="program-checkbox" formControlName="isPublic" (change)="updateField('isPublic')">
    <label for="program-checkbox">Programa público</label>
  </div>
  <!----------------------------->
  <!--Data de início/Hora de início-->
  <div class="form-row form-group d-flex align-items-bottom mt-3">
    <!--Data de Início-->
    <div class="col-3">
      <label><h5>Data e hora de início<b class="text-danger">*</b>:</h5></label>
      <div class="input-group form-group">
        <input class="form-control" formControlName="beginDate" ngbDatepicker #beginDate="ngbDatepicker" (click)="beginDate.toggle()" placeholder="Data de início" (dateSelect)="setBeginDate($event)" readonly>
        <button class="btn btn-secondary" (click)="beginDate.toggle()" type="button"><fa-icon class="text-white" [icon]="calendar"></fa-icon></button>
      </div>
    </div>
    <!------------------>
    <!--Hora de início-->
    <div class="col">
      <ngb-timepicker formControlName="beginTime" [minuteStep]="30" (ngModelChange)="updateField('starts')"></ngb-timepicker>
    </div>
    <!------------------>
  </div>
  <!--------------------------------->
  <!--Data de fim/Hora de fim-->
  <div class="form-row form-group d-flex align-items-bottom  mt-3">
    <!--Data de fim-->
    <div class="col-3">
      <label><h5>Data e hora de fim</h5></label>
      <div class="input-group form-group">
        <input class="form-control" formControlName="endDate" ngbDatepicker #endDate="ngbDatepicker"  (click)="endDate.toggle()" placeholder="Data de fim" (dateSelect)="setEndDate($event)"  readonly>
        <button (click)="endDate.toggle()" class="btn btn-secondary" type="button"><fa-icon class="text-white" [icon]="calendar"></fa-icon></button>
      </div>
    </div>
    <!--------------->
    <!--Hora de fim-->
    <div class="col">
      <ngb-timepicker formControlName="endTime" (ngModelChange)="updateField('ends')" [minuteStep]="30"></ngb-timepicker>
    </div>
    <!--------------->
  </div>
  <!--------------------------->
  <small class="text-danger">* Campo obrigatório</small>
  <hr>
  <!--Botões de Comunicação-->
  <div class="col-12 mt-3 ms-2 me-2">
    <button type="button" class="btn btn-secondary btn-block w-100" (click)="openButtons()" >Alertas, Notificações e Comunicação</button>
  </div>
  <div class="col-12 border border-secondary ms-2 me-2 mt-2 mb-3" [ngbCollapse]="isOpenButtons">
    <app-comunicate-buttons></app-comunicate-buttons>
  </div>

  
  <hr>
  <div class="container-fluid p-0 mb-3 mt-2">
    <div class="row">
      <div class="col-12 col-xl-4">
        <button type="button" class="btn btn btn-outline-primary btn-block py-2">IMPORTAR PROGRAMA</button>
      </div>
      <div class="col-12 col-xl-3 offset-xl-5">
        <button type="button" class="btn btn btn-primary btn-block py-2" (click)="submit()">PROSSEGUIR</button>
      </div>
    </div>
  </div>
</form>
<!--------->
