<!-- A Equipe -->
<div class="mt-5 py-5" style="margin-bottom: 211px;">
    <h2 class="font-weight-bold text-center" id="equipe" translate>index.team.title</h2>

    <div id="carouselExampleSlidesOnly" class="carousel slide mt-5 w-50 mx-auto" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-flex justify-content-around mx-auto text-center flex-wrap">
                    <div>
                        <img class="rounded-circle" src="assets/images/landing-page/team/profile0.jpg" alt="First slide"
                            width="140" height="140">
                        <span class="d-block font-weight-bold h5 mt-4" translate>index.team.developer.name</span>
                        <span class="d-block" translate>index.team.developer.position</span>
                    </div>
                    <div>
                        <img class="rounded-circle" src="assets/images/landing-page/team/profile0.jpg" alt="First slide"
                            width="140" height="140">
                        <span class="d-block font-weight-bold h5 mt-4" translate>index.team.developer.name</span>
                        <span class="d-block" translate>index.team.developer.position</span>
                    </div>
                    <div>
                        <img class="rounded-circle" src="assets/images/landing-page/team/profile0.jpg" alt="First slide"
                            width="140" height="140">
                        <span class="d-block font-weight-bold h5 mt-4" translate>index.team.developer.name</span>
                        <span class="d-block" translate>index.team.developer.position</span>
                    </div>
                    <div>
                        <img class="rounded-circle" src="assets/images/landing-page/team/profile0.jpg" alt="First slide"
                            width="140" height="140">
                        <span class="d-block font-weight-bold h5 mt-4" translate>index.team.developer.name</span>
                        <span class="d-block" translate>Cargo</span>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-around mx-auto text-center flex-wrap">
                    <div>
                        <img class="rounded-circle" src="assets/images/landing-page/team/profile0.jpg" alt="First slide"
                            width="140" height="140">
                        <span class="d-block font-weight-bold h5 mt-4" translate>index.team.developer.name</span>
                        <span class="d-block" translate>index.team.developer.position</span>
                    </div>
                    <div>
                        <img class="rounded-circle" src="assets/images/landing-page/team/profile0.jpg" alt="First slide"
                            width="140" height="140">
                        <span class="d-block font-weight-bold h5 mt-4" translate>index.team.developer.name</span>
                        <span class="d-block" translate>Cargo</span>
                    </div>
                    <div>
                        <img class="rounded-circle" src="assets/images/landing-page/team/profile0.jpg" alt="First slide"
                            width="140" height="140">
                        <span class="d-block font-weight-bold h5 mt-4" translate>index.team.developer.name</span>
                        <span class="d-block" translate>index.team.developer.position</span>
                    </div>
                    <div>
                        <img class="rounded-circle" src="assets/images/landing-page/team/profile0.jpg" alt="First slide"
                            width="140" height="140">
                        <span class="d-block font-weight-bold h5 mt-4">Nome Sobrenome</span>
                        <span class="d-block">index.team.developer.position</span>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-around mx-auto text-center flex-wrap">
                    <div>
                        <img class="rounded-circle" src="assets/images/landing-page/team/profile0.jpg" alt="First slide"
                            width="140" height="140">
                        <span class="d-block font-weight-bold h5 mt-4">index.team.developer.name</span>
                        <span class="d-block">index.team.developer.position</span>
                    </div>
                    <div>
                        <img class="rounded-circle" src="assets/images/landing-page/team/profile0.jpg" alt="First slide"
                            width="140" height="140">
                        <span class="d-block font-weight-bold h5 mt-4">index.team.developer.name</span>
                        <span class="d-block">index.team.developer.position</span>
                    </div>
                    <div>
                        <img class="rounded-circle" src="assets/images/landing-page/team/profile0.jpg" alt="First slide"
                            width="140" height="140">
                        <span class="d-block font-weight-bold h5 mt-4" translate>index.team.developer.name</span>
                        <span class="d-block" translate>index.team.developer.position</span>
                    </div>
                    <div>
                        <img class="rounded-circle" src="assets/images/landing-page/team/profile0.jpg" alt="First slide"
                            width="140" height="140">
                        <span class="d-block font-weight-bold h5 mt-4" translate>index.team.developer.name</span>
                        <span class="d-block" translate>index.team.developer.position</span>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleSlidesOnly" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleSlidesOnly" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<!-- /A Equipe -->