<div class="container-fluid ms-2 me-2">
  <div class="col-12 mt-2 mb-2">Caso um participante NÃO RESPONDA ao disparo deste evento:</div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Enviar aviso por e-mail aos [observadores]                
      </label>
    </div>
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Programar [1] novo disparo em [60] minutos
      </label>
    </div>
  </div>
  <div class="col-12 mt-3 mb-2">Caso um participante RESPONDA ao disparo deste evento:</div>
  <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Enviar aviso por e-mail aos [observadores]
        </label>
      </div>
  </div>
  <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Parar de enviar notificações deste evento ao [participante
        </label>
      </div>
  </div>
  <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
          Enviar o resultado das intervenções por e-mail aos observadores
        </label>
      </div>
  </div>
</div>
  
  
