<div>
    <div class="bg-primary pt-5">
        <div class="d-flex justify-content-around align-items-center flex-wrap w-100 w-xl-85 mx-auto">
            <img class="img-fluid w-75 w-xl-35"
                src="assets/images/landing-page/img-computador-celular/img-computador-celular@3x.png"
                alt="img-computador-celular">
            <div>
                <div class="text-center text-xl-inherit text-white mt-5">
                    <h1 translate>index.home.greetings</h1>
                    <h3 translate>index.home.invite</h3>
                </div>
                <a class="d-flex justify-content-xl-start justify-content-center align-items-center flex-wrap" href="#">
                    <img class="img-fluid mr-3 mt-4" src="assets/images/landing-page/ic-play/ic-play@3x.png"
                        alt="Play icon" style="max-height: 100px;">
                    <h3 class="text-success text-nowrap my-4" translate>index.home.watch</h3>
                </a>
            </div>
        </div>
    </div>
    <img class="index-bg-content" src="assets/images/landing-page/background/bgblue.svg">
</div>
<div>
    <h2 class="text-center mt-5" id="o-sistema" translate>index.home.system</h2>
    <h4 class="text-center" translate>index.home.systemDescription</h4>
    <div class="d-flex justify-content-around flex-wrap flex-xl-nowrap mx-auto w-xl-60">
        <div class="d-flex justify-content-center flex-wrap w-px-300 px-4 my-5">
            <img src="assets/images/logo-espim-index.svg" alt="Logo Espim">
            <div class="text-center mt-4">
                <h5 class="font-weight-bold mb-4">ESPIM</h5>
                <p class="text-justify" translate>index.home.espimFeatures</p>
            </div>
        </div>
        <img class="d-none d-lg-inline" src="assets/images/landing-page/outros/barra-vertical.svg">
        <div class="d-flex justify-content-center flex-wrap w-px-300 px-4">
            <img src="assets/images/logo-espim-index.svg" class="align-self-center" alt="Logo Espim">
            <div class="text-center mt-4">
                <h5 class="font-weight-bold mb-4">ESPIM</h5>
                <p class="text-justify" translate>index.home.espimAdvantages</p>
            </div>
        </div>
        <img class="d-none d-lg-inline" src="assets/images/landing-page/outros/barra-vertical.svg">
        <div class="d-flex justify-content-center flex-wrap w-px-300 px-4">
            <img src="assets/images/logo-espim-index.svg" alt="Logo Espim">
            <div class="text-center mt-4">
                <h5 class="font-weight-bold mb-4">ESPIM</h5>
                <p class="text-justify" translate>index.home.espimInformations</p>
            </div>
        </div>
    </div>
</div>