<div class="container-fluid">
    <div class="row justify-content-end">
        <div  *ngIf="status" class="col d-flex justify-content-begin" style="margin-top: 5px;">
            <button class="btn btn-primary" (click)="clickEvent()">Open Historic<i class="fa fa-angle-double-right"></i></button>
        </div>
        <div *ngIf="!status" class="col d-flex justify-content-end" style="margin-top: 5px;">
            <button class="btn btn-primary" (click)="clickEvent()"><i class="fa fa-angle-double-left"></i> Close Historic </button>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col">
            <div class="d-flex" id="wrapper">

            </div>
        </div>
    </div>
</div>
