<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <esm-program-historic *ngIf="mostrar()"></esm-program-historic>
    </div>
    <div class="col-8">
      <div class="container-fluid" id="container">
        <div class="row">
          <div class="col-12">
            <esm-editores-online></esm-editores-online>
          </div>
          <div class="col-12">
            <esm-step-panel [id]="id"></esm-step-panel>
          </div>
          <div class="col-12">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2">
      <esm-program-chat></esm-program-chat>
    </div>
  </div>
</div>
